html {
    background-color:hsl(111, 67%, 76%);
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
}
.title {
    color: hsla(259, 78%, 45%, 0.957);
    font-weight: 500;
    font-size: 80px;
}
.title,
.link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: hsla(145, 63%, 20%, 0.45);
    display: inline-block;
    font-size: 15px;
    border-radius: 2px;
    width: 150px;
    height: 26px;
    padding-top: 13px;
    padding-bottom: 15px;
}
li {
    line-height: 120%;
    background-color: hsla(259, 78%, 48%, 0.505);
    border-radius: 5px;
    margin: 8px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.desc {
    font-style: italic;
    color: hsl(145, 62%, 20%);
}
.recipename {
    text-align: center;
    font-weight: 500;
}
.recipe.image {
    text-align: center;
}
a:hover {
    background-color: hsla(145, 63%, 20%, 0.872);
}
li:hover {
    background-color: hsla(259, 78%, 48%, 0.882);
}